#![enable(implicit_some)]

Prefab (
    entities: [
        (
            data: (
                graphics: (
                    mesh: Shape((shape: Sphere(32, 32))),
                    material: (
                        albedo: Generate(Srgba(0.0, 0.0, 1.0, 1.0)),
                    ),
                ),
            ),
        ),
    ],
)